.greeting_cards{
    border: 4px solid rebeccapurple;
    padding: 20px;
    width:250px;
    height: 270px;
    margin: auto;
    margin-bottom: 3rem;
    font-style: italic;
    background-color: lightpink;
    border-radius: 10px;
    display: block;
}