.greeting_cards{
    border: 4px solid rebeccapurple;
    padding: 20px;
    width:250px;
    height: 270px;
    margin: auto;
    margin-bottom: 3rem;
    font-style: italic;
    background-color: lightpink;
    border-radius: 10px;
    display: block;
    margin-left: 10px;
}
h1{
    text-align: left;
    text-decoration:double;
    text-shadow: black 2px 2px;
    color: aliceblue;
}